* {
    font-family: Poppins;
    color: rgb(70, 70, 70);
}

.container {
    display: flex;
    width: 75%;
    margin: 0px auto;
}

#col {
    flex-direction: column;
    justify-content: space-around;
}

#block {
    display: flex;
    flex-direction: column;
    height: fit-content;
    /* margin: auto 0px; */
    padding: 20px;
}

.nav {
    display: flex;
    margin: 10px auto;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    background-color: rgb(196, 196, 196);
}

.spacer {
    background-color: aquamarine;
    flex: 1;
}

h1 {
    font-size: 2.5em;
    font-weight: bolder;
}

h2, h3 {
    font-weight: normal;
    font-style: italic;
    color:rgb(120, 120, 120);
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

#search, #log, .press {
    font-size: 1.5em;
    height:fit-content;
    border: 3px rgb(70, 70, 70) solid;
}

#log, .press {
    background-color: gray;
    color: white;
    padding: 5px 15px;
    box-shadow: rgb(70, 70, 70) 3px 3px;
}

.press {
    font-size: 1em;
    background-color: rgb(229, 166, 7);
}

a {
    color:  rgb(229, 166, 7);
}

.blurb {
    border: 3px rgb(70, 70, 70) solid;
    padding: 10px;
    margin: 10px 15px;
    display: flex;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    flex: 1;
}

.word {
    flex: 1;
    line-height: 15px;
}

.def {
    flex: 2;
}

.noBox {
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    background-color: rgb(238, 196, 90);
    font-size: 1em;
    border: 3px rgb(70, 70, 70) solid;
    box-shadow: rgb(70, 70, 70) 2px 2px;
}